xdata/
__pycache__/
#*
.#*
*.pyc
presentation/presentation.aux
presentation/presentation.log
presentation/presentation.nav
presentation/presentation.out
presentation/presentation.snm
presentation/presentation.toc
presentation/holy-bible_screenshot.png
presentation/phys.org_screenshot.png
presentation/recipe.gif
seminar/seminar.aux
seminar/seminar.log
